body {
    background-color: rgb(194, 229, 233);
  }
  h1 {
    color: rgb(62, 62, 174);
    border-radius: 25px;
    background: #8a98e8;
    padding: 20px;
    width: 270px;
    height: 100px;
  }
  p {
    color: rgb(36, 102, 164);
  }
  img  {
    float: right;
  }